.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.box img{
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.box:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.3s;
}

.box h3{
    margin: 0.7rem;
}