.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    transition-duration: 0.3s; 
    transition-timing-function: ease-in-out;  
}

.box img{
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.box:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}

.box h3{
    margin: 0.7rem;
}

@media(max-width:1000px){
    .box img{
        height: 50px;
        width: 50px;
        border-radius: 15px;
    }
    
}