#perfil{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 50%;
    color: #fafafa;  
    align-items: center; 
    justify-content: center;    
    
    margin-top: 10vh;
}

.perfilPhoto img{    
    height: 350px;
    width: 350px;
    border-radius: 50%;
    object-fit: cover; 
    margin-bottom: 15px;
}

#perfil h1{
    font-size: 2.5rem
}

#perfil p{
    margin-top: 5px;
}
