#projetos{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 109vh;    
}

#projetos h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

#demo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    
}

@media(max-width:1000px){
    #demo{
        display: flex;
        flex-direction: column;
    }
}