#sobre{
    color: #fafafa; 
    width: 50%;  
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

#sobre h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

#sobre p{
    letter-spacing: 0.9px;
    line-height: 1.5;
    font-size: 1.1rem;
}

@media(max-width:1000px){
    #sobre{
        background-color: red;
        width: 80%;
    }  
    #sobre p{
        background-color: blue;
    }   
 
}