body{    
    background-color: #1e1e23;
    width: 100%;
}

.body{
    background-color: violet;
    width: 100%;
  }  

.capaInicial{
    display: flex;
    align-items: center;    
    width: 100%;            
    margin-top: 55px;
    height: 100vh;    
}

.perfil {
    display: flex;
}

  .perfil img{
    height: 90px;
    width: 90px;
    border-radius: 10px;
}
  
  header {
    box-sizing: border-box;    
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;     
  }
    
  
  #menu{
    display: flex;
    list-style: none;
    gap: 0.5rem;
    flex-direction: column;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
  }

  #menu li a:hover{
      letter-spacing: 1.4px;
  }
  
  .editProfile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .editProfile img{
      height: 11px;
      width: 10px;
  }

  #nav{
      display: flex;
      justify-content: space-around;
  }

  #menu li img{
    height: 23px;
    width: 23px;
    margin-right: 10px;
  }
    
  #btn-mobile {
    display: none;
  } 

  @media (max-width: 740px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 65px;
      right: 0px;
      background-color: rgb(4 5 23);
      
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: 79vh;
      visibility: visible;
      overflow-y: auto;
    }    
    #menu a {
      padding: 15px;
      margin: 0 1rem;      
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    header{
        flex-direction: row;
    }
    .perfil a:first-child img{
        height:140px ;
        width:140px ;
    }
    .perfil p{
        font-size: 1.5rem;
        text-align: center;
    }

    .box-3,.box-4{
        padding: 20px;
    }
}