.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

@media (max-width:999px){
    .mobile-menu{
        display: block;
        width: 80%;
    }
}